@import "../../Theme.scss";

%route-table {
    display: grid;
    border-width: medium;
    border-style: groove;
    border-radius: 0.4em;
    padding-bottom: 1em;
}

.route-table-vk {
    @extend %route-table;
    border-color: $vk_main_color;
}

.route-table-wa {
    @extend %route-table;
    border-color: $wa_main_color;
}

.route-table-gl {
    @extend %route-table;
    border-color: $gl_main_color;
}

%route-table-header {
    display: inherit;
    grid-template-columns: repeat(4, 1fr);
    border-bottom-style: double;
    margin-bottom: 1em;
    padding-bottom: 0.4em;
}

.route-table-header-vk {
    @extend %route-table-header;
    border-color: $vk_main_color;
}

.route-table-header-wa {
    @extend %route-table-header;
    border-color: $wa_main_color;
}

.route-table-header-gl {
    @extend %route-table-header;
    border-color: $gl_main_color;
}

.route-table-row {
    display: inherit;
    grid-template-columns: repeat(4, 1fr);
}

.route-table-cell {
    margin: auto;
    margin-top: 1em;
}

.table-button {
    margin: auto;
}

.route-cell {
    max-width: 24em;
    overflow-wrap: break-word;
    
    @media (max-width: 1430px) {
        max-width: 11em;
    }

    @media (max-width: 768px) {
        max-width: 8em;
    }
}

.titel-cell {
    max-width: 14em;
    overflow-wrap: break-word;

    @media (max-width: 1430px) {
        max-width: 8em;
    }

    @media (max-width: 768px) {
        max-width: 6em;
    }
}

.count-cell {
    max-width: 14em;
    overflow-wrap: break-word;
}