$vk_main_color: #5b88bd;
$vk_accent_color: #e5ebf1;

$wa_main_color: #1ebea5;
$wa_color_first: #064e45;
$wa_color_second: #00e676;

$gl_main_color: #292961;
$gl_color_first: #1b69b6;
$gl_color_second: #1f78d1;