@import "../../Theme.scss";

%header {
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 0.4em;
    height: 2em;
    align-items: center;
}

.header-vk {
    @extend %header;
    background-color: $vk_main_color;
}

.header-wa {
    @extend %header;
    background-color: $wa_main_color;
}

.header-gl {
    @extend %header;
    background-color: $gl_main_color;
}

.header-info {
    font-size: 1.2em;
    margin: 0;
    margin-right: 0.4rem;
    color: white;
}

.header-title {
    font-size: 1.2em;
    color: white;
}

%button-v1 {
    border: 0;
    text-decoration: none;
    outline: none;
    color: white;
    padding: 0.4em 0.8em;
    margin-left: 1em;
    border-radius: 1em;
    border-color: whitesmoke;
    background-size: 200% auto;
    box-shadow: 0 0 1em rgba(0,0,0,.1);
    transition: .5s;
    cursor: pointer;
}

.button-v1-vk {
    @extend %button-v1;
    background-image: linear-gradient(to right, #dae2ea 0%, $vk_main_color 51%, $vk_accent_color 100%);
}

.button-v1-vk:hover {background-position: right center;}

.button-v1-wa {
    @extend %button-v1;
    background-image: linear-gradient(to right, #dae2ea 0%, $wa_color_first 51%, $wa_color_second 100%);
}

.button-v1-wa:hover {background-position: right center;}

.button-v1-gl {
    @extend %button-v1;
    background-image: linear-gradient(to right, black 0%, $gl_color_first 51%, $gl_color_second 100%);
}

.button-v1-gl:hover {background-position: right center;}

.body-block {
    margin: 0.1em;
}

.func-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}

.header-button {
    @media (max-width: 1430px) {
        border-radius: 1em;
        padding: 0.2em 1em;
        margin-left: 2em;
    }
    @media (max-width: 600px) {
        border-radius: 1em;
        padding: 0.01em 0.8em;
        margin-left: 1em;
    }
    @media (max-width: 600px) {
        border-radius: 1em;
        padding: 0.01em 0.6em;
        height: 70%;
        margin-left: 0.4em;
    }
}

%block-info {
    font-size: 1em;
    margin: 0;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    text-align: left;
    color: white;
    border-radius: 0.4em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 1em;
}

.block-info-vk {
    @extend %block-info;
    background-color: $vk_main_color;
}

.block-info-wa {
    @extend %block-info;
    background-color: $wa_main_color;
}

.block-info-gl {
    @extend %block-info;
    background-color: $gl_main_color;
}

.func-block-child {
    margin-right: 2em;
    margin-top: 1em;
}